<div class="main-container">
    <div class="heading-container">
        <div class="heading-img">
            <img src="assets/img/leaves-4.png">
            <img src="assets/img/leaves-2.png">
            <img src="assets/img/leaves-3.png">
        </div>
        <div class="overlay-title">
            <p class="title">unser</p>
            <p class="subtitle">Menü</p>
        </div>
    </div>
    <div *ngIf="loading" class="spinner-container">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!loading" class="menu">
        <h2>Kaffee & Kuchen</h2>
        @for (item of afternoon; track item.name) {
            <p class="menu-item">{{ getDisplayName(item) }}</p>
        }
    </div>
    <div *ngIf="!loading" class="menu">
        <h2>Abendessen</h2>
        @for (item of dinner; track item.name) {
            <p class="menu-item">{{ getDisplayName(item) }}</p>
        }
    </div>
    <div *ngIf="!loading" class="menu">
        <h2>Snacks</h2>
        @for (item of snacks; track item.name) {
            <p class="menu-item">{{ getDisplayName(item) }}</p>
        }
    </div>
    <div *ngIf="!loading" class="menu">
        <h2>Getränke</h2>
        @for (item of drinks; track item.name) {
            <p class="menu-item">{{ getDisplayName(item) }}</p>
        }
    </div>
    <h1 *ngIf="!loading" style="padding: 2rem 0;">Guten Appetit!</h1>

    <div class="footnote-container">
        <div class="footnote">
            <span class="tag vegan" title="Vegan">🌱</span>
            <p>Vegan</p>
        </div>
        <div class="footnote">
            <span class="tag vegetarisch" title="Vegetarisch">🥕</span>
            <p>Vegetarisch</p>
        </div>
        <div class="footnote">
            <span class="tag glutenfrei" title="Glutenfrei">🌾</span>
            <p>Glutenfrei</p>
        </div>
    </div>
</div>