
$font-size-nav: 0.8rem;

$height-navbar: 110px;
$height-footer: 60px;

$color-light-grey: #f1f1ee;
$color-dark-grey: #4b4b4b;

$color-light-green: #cfdbc5;
$color-medium-green: #99aa89;
$color-dark-green: #526455;