
$font-size-text: 1.2rem;
$font-size-nav: 1rem;
$font-size-nav-active: 1.25rem;
$font-size-title: 4.5rem;
$font-size-subtitle: 3rem;
$font-size-footer: 0.9rem;


$height-navbar: 110px;
$height-footer: 50px;

$color-light-grey: #f1f1ee;
$color-dark-grey: #4b4b4b;

$color-light-green: #cfdbc5;
$color-medium-green: #99aa89;
$color-dark-green: #526455;