@use 'variables' as *; 
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400&display=swap" rel="stylesheet');



* {
  font-family: 'Cormorant Garamond', serif;
  font-size: $font-size-text;
  letter-spacing: 0.1em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  font-variant-numeric: lining-nums;
}

a, a:-webkit-any-link {
    color: inherit;
    text-decoration: none;
}

.root-container {
    background-image: url('/assets/img/background.png');
    background-size: 175%;    
    background-position: top;
    background-repeat: repeat;
}

.main-container {
    margin: 0 20rem 2rem 20rem;
    min-height: calc(100vh - $height-navbar - 2* $height-footer);
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-bottom: 3rem;
}

.heading-container {
      height:fit-content;
      position: relative;
      margin-bottom: 3rem;

    .heading-img {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      width: 100%;
      max-height: fit-content;
      align-items: flex-start;
    
      img{
        width: 33%;
        height: auto;
        object-fit: cover;
      }
    } 
  }

.overlay-title {
    position: flex;
    color: black;
    font-size: 3rem;
    text-align: left;
    margin-top: -8rem;
    text-align: center;
}

.title {
    margin-bottom: 0;
    font-size: $font-size-title;
    font-family: 'Corinthia', cursive;
    letter-spacing: -0.015rem;
    text-transform: none;
}

.subtitle {
    margin-top: 0;
    margin-bottom: 0;
    font-size: $font-size-subtitle;
    text-transform: uppercase;
    margin-top: -1.5rem;
    font-weight: 400;
}

h1 {
    font-size: $font-size-heading1;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 600;
}

h2 {
    font-size: $font-size-heading2;
    text-transform: uppercase;
    font-weight: 900;
    color: $color-dark-green;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: $color-light-green;
  border: 2px solid $color-medium-green;
  border-radius: 999px;
  padding: 14px 40px;
  text-decoration: none;
  font-family: 'Reem Kufi', sans-serif;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.12em;
  color: $color-dark-green !important;
  text-transform: uppercase;
  margin: 2rem;
  text-align: center !important;
  min-width: 10rem;
  cursor: pointer;
}

.dotted-divider {
  border: none;
  height: 6px;
  width: calc(100% - 4rem); // ← Abstand links & rechts
  margin: 1.5rem 2rem;
  background-image: radial-gradient(circle, $color-medium-green 3px, transparent 3px);
  background-size: 16px 6px;
  background-repeat: repeat-x;
  background-position: center;
  opacity: 0.6;
}

// TABLET
@media (max-width: 1200px) {
  .main-container {
    margin: 0 10rem 2rem 10rem; 
  }
}

@media (max-width: 950px) {
  * {
    font-size: $font-size-text-mobile;
  }
}

@media (max-width: 550px) {
  .main-container {
    margin: 0; 
  }
}
